# ECR Image
ECR_IMAGE=320343233834.dkr.ecr.ap-northeast-2.amazonaws.com/playtap/content-service:latest

# gRPC
GRPC_PORT=9096

# Database (RDS)
DB_URL=jdbc:postgresql://localhost:5432/content
DB_USERNAME=postgres
DB_PASSWORD=
